Source: libpar2
Priority: optional
Maintainer: John Augustine <jaugustine@vivnet.net>
Build-Depends: debhelper (>= 4.1.0), autotools-dev, libsigc++-2.0-dev, libstdc++6-dev
Standards-Version: 3.6.2
Section: libs

Package: libpar2-0-dev
Section: libdevel
Architecture: any
Depends: libpar2-0 (= ${Source-Version})
Description: Headers for the libpar2-0 library
 LibPar2 allows for the generation, modification, verification,
 and repairation of PAR v1.0 and PAR v2.0(PAR2) recovery sets.
 It contains the basic functions needed for working with these
 sets and is the basis for GUI applications such as GPar2.  This
 is the dev package containing the headers for libpar2-0.

Package: libpar2-0
Section: libs
Architecture: any
Depends: libsigc++-2.0-0c2 | libsigc++-2.0-0c2a, libstdc++6
Description: A library for performing comman tasks related to PAR recovery sets
 LibPar2 allows for the generation, modification, verification,
 and repairation of PAR v1.0 and PAR v2.0(PAR2) recovery sets.  
 It contains the basic functions needed for working with these 
 sets and is the basis for GUI applications such as GPar2.
